<a href="https://colab.research.google.com/github/HideyukiYokota/samurai/blob/main/python_beginner/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+3)

4

In [ ]:
age = 20 #年齢
if age < 20:
  print("ジュースで乾杯")
else:
  print("お酒で乾杯")

お酒で乾杯

In [ ]:
print("今日の天気は","雪")
print("今日の天気は"+"雪")
print("今日の天気は""雪")
print("降水確率" + str(50) + "%")
print("雪" * 5   )

In [ ]:
user_name = "侍太郎"
print(user_name)
user_name = "侍ハナコ"
print(user_name)
last_name = "侍"
first_name ="太郎"
print(last_name + first_name)
print(f"私の名前は{last_name}{first_name}です。")

In [ ]:
user_names = ["侍太郎","侍次郎"] #リスト
print(user_names[1])
print(user_names)
user_names.append("侍五郎")
print(user_names)
user_names.pop(1)
print(user_names)

In [ ]:
country_names = ('日本','アメリカ')#タプルは要素をこうしんできず
print(country_names[0])
prime_number = {2,5,7,3,5,5,5 } #セット
#print(prime_number[2]) #セットは順番・重複なしなのでエラー
prime_number.add(10)
print(prime_number)
prime_number.remove(2)
print(prime_number)

In [ ]:
stationary_prices = [70,120,150,90]
stationary_prices = {"鉛筆":70,"ボールペン":120,"ボールペン":160,"シャープペンシル":150} #連想配列＝ディクショナリー
print(stationary_prices["ボールペン"]) 
print(stationary_prices) 
stationary_prices["ボールペン"]= 130
print(stationary_prices["ボールペン"]) 
stationary_prices.pop("鉛筆")
print(stationary_prices)

160
{'鉛筆': 70, 'ボールペン': 160, 'シャープペンシル': 150}
130
{'ボールペン': 130, 'シャープペンシル': 150}

In [ ]:
print(45+18 == 0)
print(45>18)
print("5" == 5)
print("5" == str(5))

In [ ]:
import random
num=random.randint(0,4)
print(num)
if num == 4 or num == 2:
  print("大当たり")
elif num == 1:
  print("中当たり")
else:
  print("はずれ")

In [ ]:
for i in range(1,10,1):
  if i % 2 == 1:
    continue
  if i > 5:
    break
  print("値は{0}です".format(i))

値は2です
値は4です

In [ ]:
import random
num = random.randint(0,4)
while num !=  0:
  if num == 1:
     break
  num = random.randint(0,4)
  print("現在の値は{}です".format(num))

In [ ]:
user_names = ["侍太郎","侍次郎","侍三郎"]
for user_name in user_names:
  print(user_name)
for index,value in enumerate(user_names):
  print("{}は{}です".format(index,value))

侍太郎
侍次郎
侍三郎
0は侍太郎です
1は侍次郎です
2は侍三郎です

In [ ]:
personal_data = {"name":"侍太郎","age":36,"gender":"男性"} #辞書型
for key,value in personal_data.items():
  print("{}は{}です".format(key,value))

nameは侍太郎です
ageは36です
genderは男性です

In [ ]:
def say_good_morning():
  print("おはよう")
  print("こんにちは")
  print("おやすみ")

say_good_morning()
say_good_morning()

In [ ]:
def calculate_price(price):
  total = price + 500
  print("{}です".format(total))

calculate_price(1200)

1700です

In [ ]:
purchased = True
def is_purchased():
  if (purchased):
    return True
  else:
    return False

if (is_purchased()):
    print("商品はこうにゅうすみです。")

#is_purchased()

商品はこうにゅうすみです。

In [ ]:
def double(num:int)->int:
  return num*2
double(10)

20

In [ ]:
user_name = "侍ハナコ"
def show_user_name():
  #user_name = "侍太郎"
  print(user_name)
show_user_name()
print(user_name)

侍ハナコ
侍ハナコ

In [ ]:
class Product:
  def __init__(self) :
    self.name = ''
  def set_name(self,name):
      self.name = name
  def show_name(self):
    print(self.name)

#shampoo.name = 'シャンプー'
#print(shampoo.name)

shampoo = Product()
shampoo.set_name("一合")
# print(shampoo.name)
shampoo.show_name()

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Mon 13 Mar 2023 04:30:56 PM JST

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date
import time
print(time.strftime("%Y年%m月%d日%H時%M分",time.localtime()))

Mon 13 Mar 2023 04:54:03 PM JST
2023年03月13日07時54分

In [ ]:
import datetime
now = datetime.datetime.now()
date = datetime.datetime.strptime("2015-03-19","%Y-%m-%d")
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")
print(date_time.strftime("%Y年%m月%d日%H時%M分"))
now= datetime.datetime.now()
print(now.strftime("%Y年%m月%d日%H時%M分"))

2015年03月19日12時15分
2023年03月13日07時57分

In [ ]:
import datetime
now = datetime.datetime.now()
td_1d =  datetime.timedelta(days=365) 
add = now + td_1d
td_3d = datetime.timedelta(days=3)
sub = now - td_3d
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2024年03月12日08時04分44秒です。
現在から3日前は2023年03月10日08時04分44秒です。